@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

body {
    background-color: #F5F5F5;
    margin-left: 150px;
    margin-right: 200px;
    color: #464646;
    font-family: Raleway, sans-serif;
    font-weight: bold;
}

/* Header*/
.cabecalhoPrincipal .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav-link {
    color: #464646;
    font-size: 16px;
    font-weight: medium;
    margin-left: 34.5px;
    text-decoration: none;
}

.cabecalhoPrincipal-titulo {
    color: #464646;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

/* Perfil principal*/
.perfilPrincipal .perfil-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.perfil-apresentacao {
    font-size: 52px;
    font-weight: bold;
}

.perfil-formacao {
    font-size: 22;
    font-weight: lighter;
}

.perfil-container .redes-sociais {
    color: #464646;
    font-size: 16px;
    font-weight: medium;
    text-decoration: none;
}

.perfil-foto {
    border-radius: 50%;
    display: flex;
    height: 300px;
    width: 300px;
}

/* Seção Sobre Mim*/
.sobreMim {
    margin-top: 100px;
    margin-right: 350px;
}
.sobreMim h2 {
    font-size: 32;
    font-weight: bold;
}

.sobreMim p {
    font-size: 16;
    font-weight: lighter;
}

/* Seção Skills */
.skills {
    font-weight: bold;
    justify-content: space-between;
    margin-top: 100px;
    text-align: center;
}
.logos-skills {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    margin-top: 100px;
    text-align: center;
}

.skills h2 {
    font-size: 32;
}

.skills img {
    margin-top: 100px;
   
}

.skills p {
    font-size: 16;
}

/* Seção Skills */
.hobbies {
    font-weight: bold;
    justify-content: space-between;
    margin-top: 100px;
    text-align: center;
}
.logos-hobbies {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    margin-top: 100px;
    text-align: center;
}

.hobbies h2 {
    font-size: 32;
}

.hobbies img {
    margin-top: 100px;
}

.hobbies p {
    font-size: 16;
}

/* Seção formações */
#formacoes-titulo {
    font-weight: bold;
    justify-content: space-between;
    margin-top: 100px;
    text-align: center;
}

.formacoes-container {
    display: flex;
    justify-content: space-around;
    
}

.formacoes-container img {
    background-color: white;
    height: 192px;
    width: 130px;  
}

/* Container descrição de cursos */
.container-descricao-cursos {
    display: flex;
    justify-content: space-around;
}

.descricao-curso {
    font-size: 22px;
    font-weight: bold;
}

.descricao-ano {
    font-size: 16px;
    font-weight: lighter;
}

.interna {
    background-color: white;
    width: 50%px;
}