@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap');

.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav-link {
    color: #464646;
    font-family: Raleway;
    font-size: 16px;
    font-weight: medium;
    margin-left: 34.5px;
}

.cabecalhoPrincipal-titulo {
    color: #464646;
    font-family: Raleway;
    font-size: 16px;
    font-weight: bold;
}