@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

body {
    background-color: #F5F5F5;
    margin-left: 150px;
    margin-right: 200px;
}
.cabecalhoPrincipal .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav-link {
    color: #464646;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: medium;
    margin-left: 34.5px;
}

.cabecalhoPrincipal-titulo {
    color: #464646;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.perfilPrincipal .perfil-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.perfil-apresentacao {
    font-family: Raleway, sans-serif;
    font-size: 52px;
    font-weight: bold;
}

.perfil-formacao {
    font-family: Raleway, sans-serif;
    font-size: 22;
    font-weight: lighter;
}

.perfil-foto {
    border-radius: 50%;
    display: flex;
    height: 300px;
    width: 300px;
}